#aboutus{
    margin-top: 150px;
    font-family: "benson";
    align-items: center;
    background-color: rgba(159, 159, 158, 0.2);
    margin-bottom: 50px;
    color: maroon;
    height: 600px;
    display: block;
    /* text-transform: ; */
    /* font-size: .2vw; */
}



#aboutus-data-h{
font-family: 'Cambria, Cochin, Georgia, Times, Times New Roman, serif';
padding-left: 70px;
font: bold italic ;
color: maroon;
font-size: 50px;



}


#aboutus-data-p{
    font-family: "benson";
    padding-bottom: 100px;
    padding-left: 100px;
    font: bold italic; 
    font-family: 'Cambria, Cochin, Georgia, Times, Times New Roman, serif';
    justify-content: space-between;
    color: maroon;
    font-size: 30px;
 }

 #aboutuslist{
    color: maroon;
    font: bold italic;   
    font-family: 'Cambria, Cochin, Georgia, Times, Times New Roman, serif';
    justify-content: space-between;
    font-size: 30px;
 }

 .aboutus-images{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 10px;
    border: 10px;
    border-radius: 10px;
    border-color: aliceblue;
    margin-left: 10%;
    margin-bottom: 50px;
 }

