#aboutus{
    margin-top: 150px;
    font-family: "benson";
    align-items: center;
    background-color: rgba(159, 159, 158, 0.2);
    margin-bottom: 100px;
    color: maroon;
    height: 600px;
}



#aboutus-data-h{
font-family: "benson";
padding-left: 70px;
font: bold italic 60px monospace;
color: maroon;



}


#aboutus-data-p{
    font-family: "benson";
    padding-bottom: 100px;
    padding-left: 100px;
    font: bold italic 40px monospace;
    justify-content: space-between;
    color: maroon;
 }

 #aboutuslist{
    color: maroon;
    font: bold italic 35px monospace;
    justify-content: space-between;
 }

 .aboutus-images{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 10px;
    border: 10px;
    border-radius: 10px;
    border-color: aliceblue;
    margin-left: 10%;
    margin-bottom: 50px;
 }

