.event-search-bar {
  display: flex;
  width: 300px;
  height: 75px;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
  border: 20px;
  padding: 40px;
  border-radius: 100%;
  border-width: 5px;
  border-color: black;
  text-align: center;

}
.search-container{
  position: sticky;
  /* top: 120px; */
}

.events-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */
    margin-bottom: 100px;
    text-decoration-line: none;
    
  }

.event-thumbnail {
    height: 150px;
    width: auto;
    align-items: center;
    border-style: solid;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; ;
  }
  
.event-card {
  text-align: center;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  /* padding: 1em; */
  box-shadow: rgba(236, 18, 18, 0.2) 0px 2px 8px 0px;
  text-transform: capitalize;
  text-decoration-line: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color:black;
  background-color: rgb(187, 185, 183, .25);
  max-width: 200px;
  }

  .event-card:hover {
    scale: 1.05;
  }

  .event-link-text:hover {
    scale: 1.5;
  }
  .loading {
    font-size: 50px;
    color: rgb(69, 68, 68);
    background-color: rgb(250, 239, 225, .4);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
  }

  .Hero {
    text-decoration-line: none;
    /* gap: 5px; */
    margin: 3px;
    
  }