.hero-results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
  }

.hero-thumbnail {
    height: 150px;
    width: auto;
    align-items: center;
    border-style: solid;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; ;
  }
  
  .hero-card {
    text-align: center;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    /* padding: 1em; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-transform: capitalize;
    text-decoration-line: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
  }


  .hero-card:hover {
  box-shadow: rgb(188, 182, 182);
  scale: 1.05;
  border-color: black;
  border-width: 5px;

  }

  h4 {
    text-decoration-line: none;
  }