





.event-container {
    display: flex;
    padding-top: 6rem;
    flex-wrap: wrap;
    /* overflow: hidden; */
    flex-flow:row;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
}

.hope2{
   
        display: flex;
        flex-flow: wrap;
    justify-content:space-evenly;
    gap: 40px;
    margin-bottom: 1rem;
    
   
}

.flex-flex-flex{
    display: flex;
    padding-top: 6rem;
    flex-wrap: wrap;
    overflow: hidden;
    flex-flow:row;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    margin-bottom: 1rem;

    /* display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    gap: 40px; */
}

.title {
    text-align: center;
    margin-top: 7rem;
    font: 500;
    color: white
}

.event-description {

    flex-flow: wrap;
    background-color: rgba(102, 102, 102, 0.357);
    border-style: solid;
    border-color: black;
    border-width: .05rem;
    height: fit-content;
    width: 350px;
    padding: .50rem;
    margin: 0px;
}

.event-assosciated-characters{
    background-color: #666;
    width: 20rem;
}

.single-event-image{
    display: flex;
    flex-flow: wrap;
    height: 500px;
    width: 350px;
    justify-items: center;
    margin-bottom: 1rem;
}

.event-id-num{
    text-align: center;
    font: 500;
    color: white;
}

.event-timeline{
    display: block;
    flex-flow: wrap;
    background-color: rgba(102, 102, 102, 0.357);
    border-style: solid;
    border-color: black;
    border-width: .05rem;
    height: fit-content;
    width: 350px;
    padding: .50rem;
    text-align: left;
    margin-bottom: 1rem;
}


.event-characters-container{
    display: flex;
    flex-flow:wrap;
    justify-content:stretch;
    background-color: rgba(102, 102, 102, 0.357); 
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: block;
    border-style: solid;
    border-color: black;
    border-width: .10rem;
    height: fit-content;
    /* width: 100%; */
    height: 500px;
    width: 43rem;
    padding-bottom: 1rem;
    margin-bottom: 70px;
    overflow-y: scroll;

}

.event-link-text{

    width: 20rem;
    color: azure;
    text-decoration-line: none;
    
    border-color: black;
    border-radius: 5px;
}

.event-link-text:hover {
    scale: 1.05;
}




.single-event-card {
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row;
    text-align: center;
    align-content: center;
    justify-items: center;

    text-align: center;
    padding: 5px;
    /* width: 200px; */
    border-radius: 5px;
    /* padding: 1em; */
    box-shadow: rgba(236, 18, 18, 0.2) 0px 2px 8px 0px;
    text-transform: capitalize;
    text-decoration-line: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:black;
    background-color: rgb(187, 185, 183, .25);
    margin-left: 30px;
}

/* .event-card:hover {
    box-shadow: rgb(255, 255, 255);
  scale: 1.05;
  border-color: black;
  border-width: 5px;
    } */

.event-character-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-items: center;
    
}


/* main search thumbnails */

/* .hero-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
} */

/* .hero-card {
    text-align: center;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    box-shadow: rgb(236 18 18 / 20%) 0px 2px 8px 0px;
    text-transform: capitalize;
    text-decoration-line: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: black;
    background-color: rgb(187, 185, 183, .25);
} */

/* .hero-thumbnail {
    height: 150px;
    width: auto;
    align-items: center;
    border-style: solid;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
} */

/* .h4, h4 {
    font-size: 1.5rem;
} */